.row
  .col-xs-1
  .col-xs-10
    .row
      %h3
        Active Mentees
    .row    
      = render '/web/mentees/mentees', mentees: @active_mentees

    .row
      %h3
        Active Mentee Candidates
    .row
      = render '/web/mentees/mentees', mentees: @mentor_candidates
    .row
      .col-xs-10
      .col-xs-2
        = button_to 'Rank Candidates', '/mentees/rank'          
          
