%h2
  Import Mentors
%div{style: 'padding:25px'}
  %form{action: admin_upload_mentors_path, method: 'post', enctype: 'multipart/form-data'}
    = token_tag form_authenticity_token
    = file_field_tag 'file'
    = submit_tag 'Import Mentors'
